# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Untracked files
ice-hockey-rink/.qmake.stash
ice-hockey-rink/CMakeCache.txt
ice-hockey-rink/Makefile
ice-hockey-rink/moc_glwidget.cpp
ice-hockey-rink/moc_mainwindow.cpp
ice-hockey-rink/moc_predefs.h
ice-hockey-rink/ui_mainwindow.h

